.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cell {
  width: 70px;
  height: 70px;
  border: 1px solid gray;
  text-align: center;
}

.cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  justify-content: space-between;
  align-content: center;
  display: flex;
  margin: auto;
  padding: 10px;
  width: 360px;
}

.heading {
  display: flex;
  justify-content: center;
}

.time {
  display: flex;
  margin: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

.score {
  display: flex;
  margin: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}
