<p>gameboard works!</p>

<button
  class="btn btn-primary"
  (click)="_gameLogic.startTimer()"
  [disabled]="_gameLogic.timerStarted"
>
  Starta
</button>
<button
  class="btn btn-primary"
  (click)="_gameLogic.stopTimer()"
  [disabled]="!_gameLogic.timerStarted"
>
  Stoppa
</button>
<div>{{ _gameLogic.remainingTime }}</div>
<div>{{ _gameLogic.score }}</div>
<div class="board">
  <div class="row" *ngFor="let row of _gameLogic.grid; let i = index">
    <div class="cell" *ngFor="let image of row; let j = index">
      <img *ngIf="image" [src]="image" (click)="_gameLogic.onCellClick(i, j)" />
    </div>
  </div>
</div>
